{% extends 'base.html.twig' %}

{% block body %}
<h1>Suppression de {{ post.title }}</h1>
    {{ form_start(delete_form) }}
    {{ form_widget(delete_form) }}
    <button class="btn btn-danger">Confirmer la suppression</button>
    {{ form_end(delete_form) }}
{% endblock %}

{% block title %}
    Suppression de {{ post.title }}
{% endblock %}
