{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <p>Publié le : {{ post.publishedAt | format_date('long') }}</p>
    <p>Catégorie : {{ post.filedIn.name | default('aucune') }}</p>
    <div>
        {{ post.body | nl2br }}
    </div>
{% endblock %}

{% block title %}
{{ post.title }}
{% endblock %}
